.contact-container {
  padding: 12px 24px;

  & > .title-container {
    justify-content: flex-start !important;
  }
}

.right-side-title {
  font-size: 36px;
  text-transform: uppercase;
  color: var(--primary-backround-color);
  font-weight: 800;
}

.contact-list {
  margin-top: 30px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin-bottom: 11px;
}

.contact-item-text {
  font-size: 24px;
  line-height: 31px;
  color: var(--primary-backround-color);
}
