.education-container {
  margin-top: 60px;
  margin-left: 73px;
}

.education-item-name {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--primary-backround-color);
  font-weight: 800;
  margin-top: 30px;
}

.education-item-text {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primary-backround-color);
  font-weight: 500;
}
