.skills-container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  flex-direction: column;
}

.skills-title-container {
  justify-content: flex-start;
  flex-basis: min-content;
}

.skils-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.progress-bar {
  position: relative;
}

.bar {
  width: 120px;
  height: 12px;
  @include border-radius(6px);
  border: 1.204233633869071px solid var(--primary-text-color);
}

.line {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 84px;
  height: 10px;
  background-color: var(--primary-text-color);
  @include border-radius(2px);
}

.skills-name {
  font-size: 18px;
  color: var(--primary-text-color);
  font-weight: bold;
}

.skills-items-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
